h2 {
  color: black;
  border-radius: 5px;
  padding: 20px;
}

#firstPara {
  /*First way :- color name  */
  background-color: yellow;
  border-radius: 5px;
  padding: 10px;
}

#secondPara {
  /*Second way:- rgb color  */
  background-color: rgb(114, 135, 43);
  border-radius: 5px;
  padding: 10px;
}

#thirdPara {
  /*Third way:- rgba color  */
  background-color: rgba(30, 40, 76, 0.5);
  border-radius: 5px;
  padding: 10px;
}

#fourthPara {
  /*Fourth way:-  hexadecimal color code  */
  background-color: #4d3d3d;
  border-radius: 5px;
  padding: 10px;
}

#fifthPara {
  /*Fifth way:- Hexadecimal color code with alpha(opecity)  */
  background-color: #f60d0d43;
  border-radius: 10px;
  padding: 10px;
}

#sixthPara {
  /* 
HSL stands for Hue, Saturation, and Lightness.
HSL color values are specified with: hsl(hue, saturation, lightness) 
*/
  background-color: hsl(274, 83%, 32%);
  border-radius: 10px;
  padding: 10px;

  /* 
Hue:- 
Hue is a degree on the color wheel from 0 to 360. 
0 is red
120 is green
240 is blue

Saturation:-
Saturation can be described as the intensity of a color. 
It is a percentage value from 0% to 100%.
100% is full color, no shades of gray.
50% is 50% gray, but you can still see the color.
0% is completely gray; you can no longer see the color.


Lightness:-
The lightness of a color can be described as how much light you want to give the color,
where 
0% means no light (dark), 
50% means 50% light (neither dark nor light), 
100% means full light. 
*/
}
